<p>Want Home Delivery ? Why not login !!</p>

<div class="flex h-screen justify-center">

  <form class="p-4 rounded-lg border m-auto w-1/3">

    <div class="my-5 w-full">

      <label for="email">Your Email</label>

      <input type="email" id="email" class="p-2 rounded w-full border" placeholder="input email address">

    </div>
    
    <div class="my-5">
      <label for="password">Your Password</label>

      <input type="password" id="password" class="p-2 rounded w-full border" placeholder="input password">

    </div>

    <div class="my-5">
      <input type="submit" class="p-2 w-full bg-blue-700 text-white hover:bg-blue-green rounded">
    </div>

  </form>

</div>
