/* .welcome {
  color: red;
}

button {
  padding : 10px;
  border-radius: 8px;
  background-color: rgb(230, 230, 14);
  border: rgb(230, 230, 14);
  margin:1rem 0 1rem 0;
}

button:hover {
  background-color: rgb(7, 65, 7);
  color: #fff;
}

.cfno {
  color: yelllow;
  font-weight: 600;

}

/* .unorderd {
  display: grid;
  grid-template-columns: 25% 25%;
  width: 50%;
  /* justify-content: space-between;
  margin: 0 auto; */


/* ng-container {
  list-style-type: none;
  margin-bottom: 5rem;
  gap: 1rem;
} */ 
