<p>Welcome to the shopping center !</p>
<button (click)="isShowing = !isShowing">

  <ng-container *ngIf="!isShowing">Show Dress </ng-container>
  
  <ng-container *ngIf="isShowing">Hide Dress </ng-container>

</button>


<ul *ngIf="isShowing">

  <li *ngFor="let dress of dress; let i = index">
    {{ i + 1 }}
    <img [src]="dress.image" [alt]="dress.name" />
    <br>

    <p>{{ dress.name | titlecase }} by {{ dress.author | titlecase }}</p>
    <br>
    <p>{{ dress.amount | currency:'CFA' }}</p>

    <button (click)="addToCard()">Add dress to list</button>
  </li>
  
</ul>
