* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.hello {
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 35px;
  font-size: 32px;
  font-weight: 800;
}

.hello a {
  text-decoration: none;
  color: rgb(8, 100, 8)
}

.welcome {
  color : #4d2222;
  padding-left: 0.5rem;
  font-weight: 800;
  font-size: 19px;

}

.same-line {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.same-line .book {
  list-style-type: none;
  margin: 0 auto;
  margin: 0.5rem 0 1rem 2rem; 
}

.book img {
  width: 85%;
  height: 70vh;
  border-radius: 16px;
}

img:hover {
  transform: scale(1.2);
  border: 5px solid rgb(230, 230, 14);
  border-radius: 20px;
}

.book :hover {
  cursor: pointer;
}

p {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  display: flex;
  color: rgb(2, 56, 2);
  padding-left: 1rem;
}

.button {
  padding : 10px;
  border-radius: 8px;
  background-color: rgb(230, 230, 14);
  border: rgb(230, 230, 14);
  margin:1rem 0 1rem 0;
}

.button:hover {
  background-color: rgb(7, 65, 7);
  color: #fff;
}

.cfa {
  color: rgb(116, 26, 26);
  padding: 1rem 0 0 1rem;
}

.top-but {
  margin-left: 2rem;
  animation-duration: 5s;
  animation-name: alter;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes alter {
  from {
    margin-left: 25%;
  }
  to {
    margin-left: 0%;
  }
}

.forth {
  display: none
}

form {
  background-color: #e78d8d;
}

/* for desktop and larger screen view */

@media screen and (min-device-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  .hello a {
    text-decoration: none;
    color: #e78d8d;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-weight: 800;
  }

  .welcome {
    font-weight: 800;
    font-size: 40px;
    color: greenyellow;
    justify-content: center;
    display: flex;
  }

  .same-line {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 1rem;
  }

  .same-line .book {
    width: 90%;
  }

  .book img {
    width: 100%;
    height: 70vh;
    border-radius: 16px;
  }
  
  img:hover {
    transform: scale(1.2);
    border: 5px solid rgb(230, 230, 14);
    border-radius: 20px;
  }

  .book :hover {
    cursor: pointer;
  }

  .button {
    padding : 10px;
    border-radius: 8px;
    background-color: rgb(230, 230, 14);
    border: rgb(230, 230, 14);
    margin:0 0 0.5rem 0.5rem;
  }
  
  .button:hover {
    background-color: rgb(7, 65, 7);
    color: #fff;
  }

  .pips {
    width: 89%;
  }

  .top-but {
    margin-left: 2rem;
    animation-duration: 5s;
    animation-name: alter;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes alter {
    from {
      margin-left: 20%;
    }
    to {
      margin-left: 0%;
    }
  }

  .forth {
    display: flex;
    margin-right: 5rem;
    border-radius: 40px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 800;
  }

  .hello {
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 40px;
  }

  .forth a {
    color: #e78d8d;
    font-size: 20px;
    font-weight: 600;
  }

  form {
    background-color: #e78d8d;
  }
  
}

@media screen and (min-device-width: 1024px) {
  .same-line {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 2.7rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
